<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
		<h1 class="col-sm-offset-2">Something went wrong</h1>
		<h4><span class="label label-danger col-sm-offset-2" role="alert">{{msg}}</span></h4>
		<h2 class="col-sm-offset-2">Go to <a href="/">Home</a></h2>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>